/* DemosComponent's private CSS styles */
.offerEvents {
  margin: 0 0 2em 0;
  list-style-type: decimal;
  width: 40em;
}

.offerEvents li {
  position: relative;
  cursor: pointer;
}

.offerEvents li:hover {
  left: .1em;
}

.offerEvents a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  display: block;
  width: 100%;
}

.offerEvents a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.offerEvents a:active {
  background-color: #525252;
  color: #fafafa;
}
