/* DemosComponent's private CSS styles */
.events {
  margin: 0 0 2em 0;
  list-style-type: decimal;
  width: 40em;
}

.events li {
  position: relative;
  cursor: pointer;
}

.events li:hover {
  left: .1em;
}

.events a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  display: block;
  width: 100%;
}

.events a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.events a:active {
  background-color: #525252;
  color: #fafafa;
}